name: DevOps Total Pipeline

on:
  push:
    branches: [ "main" ]

jobs:
  build-secure-deliver:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      security-events: write

    steps:
    # --- PHASE 1 : BUILDER (Préparation) ---
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v3

    # --- PHASE 2 : TEST INTELLIGENCE ---
    - name: Install Docker Compose
      run: |
        sudo apt-get update
        sudo apt-get install -y docker-compose

    - name: Run Unit Tests (Pytest)
      run: docker-compose run --rm user_service pytest

    # --- PHASE 3 : CONTINUOUS IMPROVEMENT (Sécurité) ---
    # On scanne le code avant même de construire l'image finale
    - name: Security Scan (Trivy)
      uses: aquasecurity/trivy-action@master
      with:
        scan-type: 'fs'
        scan-ref: '.'
        format: 'table'
        exit-code: '0' # Bloque le pipeline si faille critique trouvée
        ignore-unfixed: true
        severity: 'CRITICAL,HIGH'

    # --- PHASE 4 : BUILDER (Construction Optimisée avec Cache) ---
    - name: Login to Docker Hub
      uses: docker/login-action@v3
      with:
        username: alizr7
        password: ${{ secrets.DOCKER_PASSWORD }}

    - name: Build & Push User Service
      uses: docker/build-push-action@v5
      with:
        context: ./user_service
        push: true
        tags: alizr7/techshop-user:latest
        cache-from: type=gha
        cache-to: type=gha,mode=max

    - name: Build & Push Product Service
      uses: docker/build-push-action@v5
      with:
        context: ./product_service
        push: true
        tags: alizr7/techshop-product:latest
        cache-from: type=gha
        cache-to: type=gha,mode=max

    - name: Build & Push Recommendation Service
      uses: docker/build-push-action@v5
      with:
        context: ./recommendation_service
        push: true
        tags: alizr7/techshop-reco:latest
        cache-from: type=gha
        cache-to: type=gha,mode=max